
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
input, select {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
li {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
li button {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}
li button:hover {
    background-color: darkred;
}
li .pin {
    background-color: gold;
    color: black;
    margin-left: 10px;
}
li input {
    width: auto;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}
.tag {
    cursor: pointer;
    color: #007bff;
    margin-left: 10px;
}
